body {
    background-color: black;
}

.images {
    position: relative;
}

.images .pipilaka {
    width: 850px;
    height: 850px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
}

.voice:hover span {
    display: inline-block;
}

.font-primary {
    font-family: 'Oswald', sans-serif;
}